# EXTRACCION DE RESULTADOS

Extraemos resultados de la fuente, creando un dataframe unicamente con los valores que nos interesan.
FUENTE: https://www.football-data.co.uk/spainm.php

In [1]:
import pandas as pd
from scipy.stats import poisson
import numpy as np
import seaborn as sns
import warnings
warnings.simplefilter(action='ignore')
pd.options.display.max_columns = None #quitar limite de visualizacion de columnas

In [2]:
link = 'https://www.football-data.co.uk/mmz4281/2223/SP1.csv'
pd.read_csv(link).head(3)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA,B365>2.5,B365<2.5,P>2.5,P<2.5,Max>2.5,Max<2.5,Avg>2.5,Avg<2.5,AHh,B365AHH,B365AHA,PAHH,PAHA,MaxAHH,MaxAHA,AvgAHH,AvgAHA,B365CH,B365CD,B365CA,BWCH,BWCD,BWCA,IWCH,IWCD,IWCA,PSCH,PSCD,PSCA,WHCH,WHCD,WHCA,VCCH,VCCD,VCCA,MaxCH,MaxCD,MaxCA,AvgCH,AvgCD,AvgCA,B365C>2.5,B365C<2.5,PC>2.5,PC<2.5,MaxC>2.5,MaxC<2.5,AvgC>2.5,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,12/08/2022,20:00,Osasuna,Sevilla,2,1,H,1,1,D,12,10,5,3,16,9,5,2,5,3,0,0,3.2,3.10,2.40,3.20,3.0,2.40,3.20,3.05,2.45,3.38,3.10,2.48,3.20,3.0,2.40,3.25,3.1,2.4,3.41,3.24,2.49,3.28,3.08,2.43,2.62,1.50,2.55,1.57,2.62,1.60,2.50,1.54,0.25,1.83,2.07,1.85,2.09,1.87,2.09,1.82,2.04,3.10,3.1,2.55,3.10,2.95,2.50,3.15,3.05,2.45,3.19,3.06,2.63,3.25,2.90,2.45,3.10,3.0,2.55,3.52,3.14,2.66,3.20,3.04,2.50,2.62,1.50,2.63,1.54,2.69,1.57,2.55,1.52,0.25,1.73,2.08,1.76,2.20,1.88,2.23,1.79,2.09
1,SP1,13/08/2022,16:00,Celta,Espanol,2,2,D,1,0,H,8,10,3,2,17,15,3,3,5,2,0,0,1.8,3.75,4.75,1.83,3.6,4.33,1.83,3.55,4.60,1.81,3.75,4.87,1.83,3.5,4.33,1.75,3.5,4.5,1.90,3.77,4.90,1.83,3.68,4.50,2.00,1.80,2.10,1.81,2.13,1.87,2.04,1.80,-0.50,1.77,2.02,1.80,2.13,1.86,2.13,1.81,2.05,1.72,3.6,4.75,1.75,3.50,5.00,1.77,3.50,5.00,1.78,3.62,5.39,1.75,3.50,5.00,1.75,3.6,5.00,1.84,3.73,5.39,1.78,3.58,5.00,2.20,1.66,2.24,1.71,2.26,1.83,2.19,1.70,-0.75,2.00,1.90,2.02,1.91,2.06,1.93,2.01,1.86
2,SP1,13/08/2022,18:00,Valladolid,Villarreal,0,3,A,0,0,D,12,10,6,4,6,10,4,5,1,0,0,0,3.9,3.60,1.90,3.80,3.5,1.95,3.85,3.60,1.95,4.05,3.78,1.95,3.90,3.5,1.95,3.80,3.5,1.9,4.10,3.80,2.00,3.93,3.66,1.94,1.99,1.91,2.00,1.91,2.00,1.92,1.95,1.87,0.50,1.95,1.95,1.97,1.95,1.97,1.98,1.93,1.93,3.30,3.4,2.20,4.00,3.40,1.95,3.35,3.35,2.20,3.54,3.44,2.23,3.50,3.25,2.15,3.40,3.4,2.20,3.66,3.47,2.25,3.45,3.39,2.19,2.00,1.80,2.09,1.81,2.14,1.90,2.05,1.79,0.25,2.02,1.88,2.02,1.91,2.03,1.91,1.98,1.88

In [3]:
def temp(años):
    return 'https://www.football-data.co.uk/mmz4281/'+años+'/SP1.csv'

In [4]:
def tabla(años):
    #link 04-05 archivo cvs con defefectos
    if años == '0405': tabla = pd.read_excel('temporada0405.xlsx')
    else: tabla = pd.read_csv(temp(años))
    tabla = tabla.dropna(how='all')
    tabla.insert(0, 'Temporada', [años[:2] +'/'+años[2:] for i in range(len(tabla))])
    tabla = tabla[['Temporada', 'Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG','FTR']]
    return tabla

In [5]:
años = ['9394', '9495', '9596', '9697', '9798', '9899', '9900',
       '0001', '0102', '0203', '0304', '0405', '0506', '0607',
       '0708', '0809', '0910', '1011', '1112', '1213', '1314',
       '1415', '1516', '1617', '1718', '1819', '1920', '2021',
       '2122', '2223']

In [6]:
resultados = tabla(años[0])
for año in años[1:]:
    resultados = pd.concat([tabla(año),resultados])

resultados.FTHG = resultados.FTHG.astype('int64')
resultados.FTAG = resultados.FTAG.astype('int64')
resultados.Date = pd.to_datetime(resultados.Date, dayfirst=True, infer_datetime_format=True)   
resultados = resultados.sort_values(by='Date', ascending = False)
resultados

   Temporada  Div       Date     HomeTeam     AwayTeam  FTHG  FTAG FTR
69     22/23  SP1 2022-10-03    Vallecano        Elche     2     1   H
68     22/23  SP1 2022-10-02  Real Madrid      Osasuna     1     1   D
67     22/23  SP1 2022-10-02       Girona     Sociedad     3     5   A
66     22/23  SP1 2022-10-02        Celta        Betis     1     0   H
65     22/23  SP1 2022-10-02      Espanol     Valencia     2     2   D
..       ...  ...        ...          ...          ...   ...   ...  ..
4      93/94  SP1 1993-09-05      Osasuna  Real Madrid     1     4   A
3      93/94  SP1 1993-09-05    La Coruna        Celta     0     0   D
2      93/94  SP1 1993-09-05    Barcelona     Sociedad     3     0   H
1      93/94  SP1 1993-09-05   Ath Madrid     Logrones     1     0   H
0      93/94  SP1 1993-09-05   Ath Bilbao     Albacete     4     1   H

[11254 rows x 8 columns]

In [7]:
sorted(list(resultados.HomeTeam.unique()))

['Alaves',
 'Albacete',
 'Almeria',
 'Ath Bilbao',
 'Ath Madrid',
 'Barcelona',
 'Betis',
 'Cadiz',
 'Celta',
 'Compostela',
 'Cordoba',
 'Eibar',
 'Elche',
 'Espanol',
 'Extremadura',
 'Getafe',
 'Gimnastic',
 'Girona',
 'Granada',
 'Hercules',
 'Huesca',
 'La Coruna',
 'Las Palmas',
 'Leganes',
 'Lerida',
 'Levante',
 'Logrones',
 'Malaga',
 'Mallorca',
 'Merida',
 'Murcia',
 'Numancia',
 'Osasuna',
 'Oviedo',
 'Real Madrid',
 'Recreativo',
 'Salamanca',
 'Santander',
 'Sevilla',
 'Sociedad',
 'Sp Gijon',
 'Tenerife',
 'Valencia',
 'Valladolid',
 'Vallecano',
 'Villareal',
 'Villarreal',
 'Xerez',
 'Zaragoza']

In [8]:
resultados.HomeTeam.replace({'Villareal':'Villarreal', 'Vallecano':'Rayo Vallecano'}, inplace=True)
resultados.AwayTeam.replace({'Villareal':'Villarreal', 'Vallecano':'Rayo Vallecano'}, inplace=True)
resultados.Div.replace({'SP1': 'La Liga'}, inplace=True)

In [9]:
resultados.head()

   Temporada      Div       Date        HomeTeam  AwayTeam  FTHG  FTAG FTR
69     22/23  La Liga 2022-10-03  Rayo Vallecano     Elche     2     1   H
68     22/23  La Liga 2022-10-02     Real Madrid   Osasuna     1     1   D
67     22/23  La Liga 2022-10-02          Girona  Sociedad     3     5   A
66     22/23  La Liga 2022-10-02           Celta     Betis     1     0   H
65     22/23  La Liga 2022-10-02         Espanol  Valencia     2     2   D

In [10]:
resultados.to_csv('resultados_93_23_la_liga.csv', index=False)

In [11]:
from datetime import datetime
from datetime import timedelta
def fecha_hace_n_años(n=3): return (datetime.now() - timedelta(days=365*n))
fecha_hace_n_años()

datetime.datetime(2019, 10, 7, 17, 41, 17, 414711)

In [12]:
def historico_2_equipos(team_A, team_B, ultimos_n_años='all'):
    historico = resultados[((resultados.HomeTeam == team_A) & (resultados.AwayTeam == team_B)) | 
          ((resultados.HomeTeam == team_B) & (resultados.AwayTeam == team_A))]
    if ultimos_n_años != 'all':
        historico = historico[historico.Date > fecha_hace_n_años(ultimos_n_años)]
    
    team_A_local = historico[historico.HomeTeam==team_A]
    team_B_local = historico[historico.HomeTeam==team_B]
    
    df = pd.DataFrame()
    df['Equipo'] = [team_A, team_B]
    df['VL'] = [list(team_A_local.FTR.values).count('H'), list(team_B_local.FTR.values).count('H')]
    df['EL'] = [list(team_A_local.FTR.values).count('D'), list(team_B_local.FTR.values).count('D')]
    df['DL'] = [list(team_A_local.FTR.values).count('A'), list(team_B_local.FTR.values).count('A')]
    df['VV'] = [list(team_B_local.FTR.values).count('A'), list(team_A_local.FTR.values).count('A')]
    df['EV'] = [list(team_B_local.FTR.values).count('D'), list(team_A_local.FTR.values).count('D')]
    df['DV'] = [list(team_B_local.FTR.values).count('H'), list(team_A_local.FTR.values).count('H')]
    
    teams = [team_A, team_B]
    
    for i, e in enumerate(teams):
        print('------------------\n----',e, '---\n------------------')
        print(len(historico), 'enfrentamientos desde', historico.Date.iloc[-1])
        print('------------------')

        print(df.VL[i], 'victorias local')
        print(df.EL[i], 'empates local')
        print(df.DL[i], 'derrotas local')
        print(df.VV[i], 'victorias visitante')
        print(df.EV[i], 'empates visitante')
        print(df.DV[i], 'derrotas visitante') 
    return historico, df
historico, estadisticas = historico_2_equipos('Real Madrid', 'Valencia', 3)
estadisticas

------------------
---- Real Madrid ---
------------------
6 enfrentamientos desde 2019-12-15 00:00:00
------------------
3 victorias local
0 empates local
0 derrotas local
1 victorias visitante
1 empates visitante
1 derrotas visitante
------------------
---- Valencia ---
------------------
6 enfrentamientos desde 2019-12-15 00:00:00
------------------
1 victorias local
1 empates local
1 derrotas local
0 victorias visitante
0 empates visitante
3 derrotas visitante

        Equipo  VL  EL  DL  VV  EV  DV
0  Real Madrid   3   0   0   1   1   1
1     Valencia   1   1   1   0   0   3

In [13]:
def historico_1_equipo(team, ultimos_n_enfrentamientos='all'):
    historico = resultados[(resultados.HomeTeam == team) | 
          (resultados.AwayTeam == team)]
    if ultimos_n_enfrentamientos != 'all':
        historico = historico[:ultimos_n_enfrentamientos]
    
    team_local = historico[historico.HomeTeam==team]
    team_visit = historico[historico.AwayTeam==team]
    
    
    df = pd.DataFrame()
    df['Equipo'] = [team]
    df['VL'] = [list(team_local.FTR.values).count('H')]
    df['DL'] = [list(team_local.FTR.values).count('A')]
    df['EL'] = [list(team_local.FTR.values).count('D')]
    df['VV'] = [list(team_visit.FTR.values).count('A')]
    df['DV'] = [list(team_visit.FTR.values).count('H')]
    df['EV'] = [list(team_visit.FTR.values).count('D')]
    
    print('------------------\n----',team, '---\n------------------')
    print(len(historico), 'enfrentamientos desde', historico.Date.iloc[-1])
    print('------------------')
    print(df.VL[0], 'victorias local')
    print(df.EL[0], 'empates local')
    print(df.DL[0], 'derrotas local')
    print(df.VV[0], 'victorias visitante')
    print(df.EV[0], 'empates visitante')
    print(df.DV[0], 'derrotas visitante\n')
    
    return historico, df, team_local, team_visit
historico, estadisticas, team_local, team_visit = historico_1_equipo('Real Madrid', 38)
estadisticas

------------------
---- Real Madrid ---
------------------
38 enfrentamientos desde 2021-10-03 00:00:00
------------------
13 victorias local
5 empates local
1 derrotas local
14 victorias visitante
2 empates visitante
3 derrotas visitante

        Equipo  VL  DL  EL  VV  DV  EV
0  Real Madrid  13   1   5  14   3   2